@model SupervisoresVista
@if (Model.ListaSupervisores != null && Model.ListaSupervisores.Count > 0)
{ 
    <div style="text-align: center;">
        <table id="grilla" align="center" width="722px" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th height="30" width="300">
                        <div align="left">
                            Razon Social</div>
                    </th>
                    <th height="30" width="150">
                        <div align="center">
                            Cuil</div>
                    </th>
                    <th height="30">
                        <div align="right" style="margin-right: 2px;">
                            Acción</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaSupervisores)
                {
                    <tr>
                        <td align="left" height="28">
                            @item.Razon_Social
                        </td>
                        <td align="center" width="50">
                            @item.Cuil_Cuit
                        </td>
                        <td align="right" style="margin-right: 2px;">
                            @Html.ActionLink("Modificar", "Modificar", "Supervisores", new { id_supervisor = item.Id_Supervisor }, new { @class = "btnIngresar" })
                            @Html.ActionLink("Eliminar", "Eliminar", "Supervisores", new { id_supervisor = item.Id_Supervisor }, new { @class = "btnIngresar" })
                        </td>
                    </tr>
                }
                <tr>
                    <td align="left" valign="middle" colspan="2" height="20">
                       @* <div id="resumenPag" style="height: 20px; padding: 10px 5px 0 2px;">
                            <div align="center">
                                <ul id="pagination-clean">
                                    <li class="previous-off">Ant</li>
                                    <li class="active">1</li>
                                    <li><a href="?page=2">2</a></li>
                                    <li><a href="?page=3">3</a></li>
                                    <li><a href="?page=4">4</a></li>
                                    <li><a href="?page=5">5</a></li>
                                    <li><a href="?page=6">6</a></li>
                                    <li><a href="?page=7">7</a></li>
                                    <li class="next"><a href="?page=2">Sig</a></li>
                                </ul>
                            </div>
                        </div>*@
                    </td>
                    <td align="right" valign="bottom" colspan="2" height="20">
                        <div style="height: 20px; padding: 15px 5px 0 2px;">
                            @Html.ActionLink("Agregar Supervisor", "Agregar", "Supervisores", new { @class = "btnIngresar" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <table id="grilla" align="center" width="722px" cellpadding="0" cellspacing="0">
        <tr>
            <td>@Html.Partial("_SinDatos", "Supervisores")
            </td>
        </tr>
        <tr>
            <td>
                <div align="right" style="height: 20px; padding: 15px 5px 0 2px;">
                    @Html.ActionLink("Agregar Supervisor", "Agregar", "Supervisores", new { @class = "btnIngresar" })
                </div>
            </td>
        </tr>
    </table>
}
<br />
