@model SupervisorVista
@{
    ViewBag.Title = "Superviciones";
    ViewBag.SubMenuSelected = "Supervisores";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Supervisores.js", Url)
}
<div class="box">
    <h2>
        Eliminar Supervisor</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Supervisor", "Supervisores", FormMethod.Post, new { Id = "FormularioSupervisores" }))
                { 
                    <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                        width: 700px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                    text-align: center;">
                                    <legend style="color: #FF9900"><b>Datos Supervisor</b></legend>
                                    <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 700px;">
                                        <tr>
                                            <td align="left">
                                                <b>Cuil/Cuit:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Cuil_Cuit, new { style = "width:150px;", MaxLength = "50", Class = "asd", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Cuil_Cuit, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Razon Social:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Razon_Social, new { style = "width:200px;", MaxLength = "200", Class = "asd", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Razon_Social, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Provincia:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Provincia, new { style = "width:200px;", MaxLength = "200", Class = "asd", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Localidad:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Localidad, new { style = "width:200px;", MaxLength = "200", Class = "asd", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Barrio:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Barrio, new { style = "width:200px;", MaxLength = "200", Class = "asd", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Calle:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Calle, new { style = "width:200px;", MaxLength = "300", Class = "asd", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Nro:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Nro, new { style = "width:80px;", MaxLength = "4", Class = "asd", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Nro Resolucion:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Nro_Resolucion, new { style = "width:150px;", MaxLength = "64", Class = "asd" })
                                                @Html.ValidationMessageFor(m => m.Nro_Resolucion, "*")
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                    @Html.HiddenFor(d => d.Id_Supervisor)
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Supervisores", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
   
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
