@model MovimientoVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Movimientos.js", Url)
}
<div class="box">
    <h2>
        Eliminar Movimineto</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("EliminarMovimineto", "Movimiento", FormMethod.Post, new { Id = "FormularioMovimiento" }))
                { 
                   
                    @Html.HiddenFor(c => c.Id_Institucion)
                    @Html.HiddenFor(c => c.Id_Caja_Chica)
                    @Html.HiddenFor(c => c.Id_Movimiento)
                    @Html.ValidationSummary(true)
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900">Datos del Movimiento</legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td>
                                    Nombre del Movimiento:
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Nombre_Movimiento, new { style = "width:350px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tipo Movimiento:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.TipoMovimiento)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fecha:
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Fecha, new { style = "width:150px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Monto:
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Monto, new { style = "width:150px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Descripción:
                                </td>
                                <td>
                                    @Html.TextAreaFor(c => c.Descripcion, new { style = "width:150px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table id="myIntituciones" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Ver", "Instituciones", new { INST_ID = Model.Id_Institucion }, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
