@model CajaChicaVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.CajaChica.js", Url)
}
<div class="box">
    <h2>
        Modificar Caja a Institucion</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("ModificarCaja", "CajaChica", FormMethod.Post, new { Id = "FormularioCajaChica" }))
                { 
                   
                    @Html.HiddenFor(c => c.Id_Caja_Chica)
                    @Html.HiddenFor(c => c.Id_Institucion)
                    @Html.ValidationSummary(true)
                    <br />
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Datos del Caja</b></legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td>
                                    <b>Nombre de la Institucion:</b>
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.NombreInstitucion, new { style = "width:350px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Estado de la Caja:</b>
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.EstadoCaja)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Monto:</b>
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Monto, new { style = "width:150px;", MaxLength = "50" })
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" value="Guargar" class="btnIngresar" />
                                @Html.ActionLink("Cancelar", "Ver", "Instituciones", new { INST_ID = Model.Id_Institucion }, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
