@model CajaChicaVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Movimientos.js", Url)
}
<div class="box">
    <h2>
        Movimientos Caja Chica</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Grupo", "Grupos", FormMethod.Post, new { Id = "FormularioGrupos" }))
                { 
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Datos de la Caja</b></legend>
                        <table>
                            <tr>
                                <td>
                                    <b>Nombre Institucion:</b>
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.NombreInstitucion, new { disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Estado Caja Chica:</b>
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.NombreEstadoCaja, new { disabled = "disabled", style = "width:150px;", MaxLength = "50", Class = "asd" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Saldo Caja:</b>
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.SaldoCaja, new { disabled = "disabled", style = "width:150px;", MaxLength = "50", Class = "asd" })
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Movimientos </b></legend>
                        <table>
                            <tr>
                                <td>@Html.Partial("_MovimientosLista", Model)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                  
                    <table style="width: 700px;" id="btnfin">
                        <tr>
                            <td align="right">
                                @Html.ActionLink("Volver al Listado de Instituciones", "Index", "Instituciones", null, new { @class = "btnIngresar" })
                                 @Html.ActionLink("Volver", "Ver", "Instituciones", new { INST_ID = Model.Id_Institucion }, new { @class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                    
    
                }
            </td>
        </tr>
    </table>
</div>
