@model CursosVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Cursos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Cursos.js", Url)
}
<div class="box">
    <h2>
        Eliminar  Catálo</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Cursos", "Cursos", FormMethod.Post, new { Id = "FormularioCursos" }))
                { 
                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px; width: 700px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                    text-align: center;">
                                    <legend>Datos Catálo</legend>
                                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                                        font-size: 12px; width: 700px;">
                                        <tr>
                                            <td align="left">
                                                <b>Nombre del Catálo:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.N_CURSO, new { disabled = "disabled", style = "width:250px;", MaxLength = "64", Class = "asd" })
                                                @Html.ValidationMessageFor(m => m.N_CURSO, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Area Tipo Catálo:</b>
                                            </td>
                                            <td align="left">
                                                @Html.EditorFor(c => c.AreasTipoCursos)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Nro Resolución:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.NRORESOLUCION, new { style = "width:250px;", MaxLength = "64", Class = "asd" })
                                                @Html.ValidationMessageFor(m => m.NRORESOLUCION, "*")
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                    @Html.HiddenFor(d => d.ID_CURSO)
    
                    <table id="myIntituciones" align="center" width="700px">
                        <tr>
                            <td align="right" vlign="middle">
                                <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Cursos", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
