@model  InscripcionVista
@{
    ViewBag.Title = "Inscripciones";
    ViewBag.SubMenuSelected = "Inscripciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Inscripciones.js", Url)
    @Content.Script("CbaGob.Alumnos.BuscadorAlumno.js", Url)
    @Content.Script("CbaGob.Alumnos.BuscadorCondicionCurso.js", Url)
}
<div class="box">
    <h2>
        Agregar Inscripcion</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td>
                @using (Html.BeginForm("Guardar", "Inscripciones", FormMethod.Post, new { Id = "FormularioInscripciones" }))
                { 
                    @Html.HiddenFor(c => c.Accion)
                    @Html.HiddenFor(c => c.IdInscripcion)                 
                    @Html.HiddenFor(c => c.IdAlumno)
                    @Html.HiddenFor(c => c.IdCondicionCurso)  
                    <input type="hidden" id="urlEliminar" value="@Url.Action("GuardarEliminacion")"/>
                    <input type="hidden" id="urlPresentismo" value="@Url.Action("GuardarPresentismo")"/>
                  
                    @Html.ValidationSummary(true)
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend style="color: #FF9900"><b>Datos Inscripcion</b></legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td width="200px" align="left">
                                    <b>Descripcion:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Descripcion)
                                    @Html.ValidationMessageFor(m => m.Descripcion, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Fecha:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.EditorFor(c => c.Fecha)
                                    @Html.ValidationMessageFor(m => m.Fecha, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Alumno:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreAlumno, new { @readonly = "readonly" })
                                    <a href="#" id="BuscarAlumno">Buscar</a>
                                    @Html.ValidationMessageFor(m => m.NombreAlumno, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Institucion:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreInstitucion, new { @readonly = "readonly" })
                                    <a href="#" id="BuscarInstitucion">Buscar Institucion</a>
                                    @Html.ValidationMessageFor(m => m.NombreInstitucion, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Curso:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreCurso, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombreCurso, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Estado de Curso:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreEstadoCurso, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombreEstadoCurso, "*")
                                </td>
                            </tr>
                            @*
                                        <tr>
                                            <td align="left">
                                                <b>Nivel:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.NombreNivel, new { @readonly = "readonly" })
                                                @Html.ValidationMessageFor(m => m.NombreNivel, "*")
                                            </td>
                                        </tr>
                                        *@
                            <tr>
                                <td align="left">
                                    <b>Modalidad:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreModalidad, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombreModalidad, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Programa:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombrePrograma, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombrePrograma, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Fecha Inicio:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBox("FechaInicio", Model.FechaInicio.ToFecha(), new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.FechaInicio, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Fecha Fin:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBox("FechaFin", Model.FechaFin.ToFecha(), new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.FechaFin, "*")
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Nro Resolucion:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NumeroResolucion, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NumeroResolucion, "*")
                                </td>
                            </tr>
                        </table>
                        <table align="center" width="700px">
                            <tr>
                                <td align="right">
                                    @if (Model.Accion == "Eliminar")
                                    {
                                        <input type="submit" value="Eliminar" class="btnIngresar" />
                                    }
                                    else if (Model.Accion == "Agregar")
                                    {
                                        <input type="submit" value="Guardar" class="btnIngresar" />
                                    }
                                    @Html.ActionLink("Cancelar", "Index", "Inscripciones", null, new { Class = "btnIngresar" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    
                }
            </td>
        </tr>
        @if (Model.Accion == "Ver")
        {
            <tr>
                <td>
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend style="color: #FF9900"><b>Datos Examenes</b></legend>
                        @Html.Partial("_ExamenesAsignados", Model.examens.Examenes)
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td width="200px" align="left">
                                    <b>Promedio del Alumno:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.examens.PromedioAlumno)
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Promedio Requerdio:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.examens.PromedioRequerdio)
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Total de Examenes Requeridos:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Model.examens.ExamenesRequeridos
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Aprobo:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Model.examens.Aprobo
                                </td>
                            </tr>
                        </table>
                        <table align="center" width="700px">
                            <tr>
                                <td align="right">
                                    @Html.ActionLink("Agregar Examen", "Agregar", "Examenes", new { IdInscripcion = @Model.IdInscripcion }, new { @class = "btnIngresar" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr> 
            <tr>
                <td>
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend style="color: #FF9900"><b>Datos Presentismo</b></legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td width="200px" align="left">
                                    <b>Clases Asistidas del Alumno:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presentismo.ClasesAsistidas)
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Cantidad de Clases del Curso:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presentismo.TotalClasesCurso)
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Presentismo del Alumno:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presentismo.PorcentajePresentismo)%
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Presentismo Necesario del Curso:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presentismo.PresentismoNecesario)%
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Cumplio con el Presentismo:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Model.Presentismo.CumplioPresentismo
                                </td>
                            </tr>
                        </table>
                        <table align="center" width="700px">
                            <tr>
                                <td align="right">
                                    <a class="btnIngresar" id="AbrirPresentismo" href="#">Modificar Presentismo</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
                               if (Model.Presentismo.CumplioPresentismo.Contains("Si") && Model.examens.Aprobo.Contains("Si"))
                               {
            <tr>
                <td>
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend style="color: #FF9900"><b>Certificado</b></legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td align="right">
                                    @Html.ActionLink("Emitir Certificado", "EmitirCertificado", "Inscripciones", new { idInscripcion = Model.IdInscripcion }, new { @class = "btnIngresar" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
                               }
        }
    </table>
</div>
@Html.Partial("BuscadorAlumno")
@Html.Partial("BuscadorCondicionCurso")
@{if (Model.Presentismo != null)
  {
    @Html.Partial("_AgregarPresentismo", Model.Presentismo)
  } }
