@model CertificadoVista
@{
    ViewBag.Title = "Inscripciones";
    ViewBag.SubMenuSelected = "Certificado";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Inscripciones.js", Url)
    @Content.Script("CbaGob.Alumnos.BuscadorAlumno.js", Url)
}
<div class="box">
    <h2>
        Emitir Certificado</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                @using (Html.BeginForm("CertificadoPDF", "Inscripciones", FormMethod.Post, new { id = "FormCertificado" }))
                {
                    <div id="titulo">
                    </div>
                    <input type="hidden" id="urlEliminar" value="@Url.Action("GuardarEliminacion")"/>
                    <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                        width: 700px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                    text-align: center;">
                                    <legend style="color: #FF9900"><b>Datos Certificado</b></legend>
                                    <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 700px;">
                                        <tr>
                                            <td align="left">
                                                <b>Fecha:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.EditorFor(c => c.Fecha)
                                                @Html.ValidationMessageFor(c => c.Fecha, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Alumno:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.NombreAlumno)
                                                @Html.ValidationMessageFor(c => c.NombreAlumno, "*")
                                                <a href="#" id="BuscarAlumno">Buscar</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Cuerpo del Certificado:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextAreaFor(c => c.Texto, new {rows="15", cols="60"})
                                                @Html.ValidationMessageFor(c => c.Texto, "*")
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" name="name" value="Emitir" class="btnIngresar" />
                           @* <a href="#" id="Emitir"  class="btnIngresar" target="_blank">Emitir Certificado</a>*@
                               
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
@Html.Partial("BuscadorAlumno")
