@model InscripcionesVista
@{
    ViewBag.Title = "Inscripciones";
    ViewBag.SubMenuSelected = "Inscripciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Inscripciones.js", Url)
}
<div class="box">
    <h2>
        Listado de Alumnos Inscriptos</h2>
    <table>
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                @Html.ValidationSummary()
                </div>
                <div id="DivExamenes">
                    @if (Model.ListaInscripciones != null && Model.ListaInscripciones.Count > 0)
                    { 
                        <div style="text-align: center;">
                            <table id="grilla" align="center" width="722px" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div align="center">
                                                Institucion</div>
                                        </th>
                                        <th>
                                            <div align="center">
                                                Curso</div>
                                        </th>
                                        <th>
                                            <div align="center">
                                                Nivel</div>
                                        </th>
                                        <th>
                                            <div align="center">
                                                Modalidad</div>
                                        </th>
                                         <th>
                                            <div align="center">
                                                Alumno</div>
                                        </th>
                                        <th height="30">
                                            <div align="center">
                                                ACCION</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaInscripciones)
                                    {
                                        <tr>
                                            <td height="30">
                                                @item.NombreInstitucion
                                            </td>
                                            <td>
                                                @item.NombreCurso
                                            </td>
                                            <td>
                                                @item.NombreNivel
                                            </td>
                                            <td>
                                                @item.NombreModalidad
                                            </td>
                                            <td>
                                                @Html.Raw(item.ApellidoAlumno + ", " + item.NombreAlumno)
                                            </td>
                                            <td>
                                               
                                                @Html.ActionLink("Eliminar", "Eliminar", "Inscripciones", new { idInscripcion = item.IdInscripcion }, new { @class = "btnIngresar" })&nbsp;&nbsp;&nbsp;&nbsp;
                                                @Html.ActionLink("Ver", "Ver", "Inscripciones", new { idInscripcion = item.IdInscripcion }, new { @class = "btnIngresar" })&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    }                                   
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        @Html.Partial("_SinDatos", "Inscripciones")
                    }
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                       
                         <tr>
                            <td align="right">
                              @Html.Partial("_Paginacion")
                               @Html.ActionLink("Agregar Inscripcion", "Agregar", "Inscripciones", null, new { @class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>      
                    <br />
                </div>
            </td>
        </tr>
    </table>
</div>



