@model InstitucionVista
@if (Model.CajaChica.ListaCajaChica != null && Model.CajaChica.ListaCajaChica.Count > 0)
{ 
    <div id="tab" style="text-align: center;">
        <table class="TablaPersonal" align="center" width="690px" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th height="30">
                        <div align="center">
                            Monto</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Estado</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Accion</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CajaChica.ListaCajaChica)
                {
                    <tr>
                        <td align="left" height="28">
                            @item.Monto
                        </td>
                        <td align="left">
                            @item.NombreEstadoCaja
                        </td>
                        <td>
                            @Html.ActionLink("Modificar", "Modificar", "CajaChica", new { id_institucion = Model.Id_Institucion, Id_Caja_Chica = item.Id_Caja_Chica }, new { @class = "btnIngresar" })
                            @Html.ActionLink("Eliminar", "Eliminar", "CajaChica", new { id_institucion = Model.Id_Institucion, Id_Caja_Chica = item.Id_Caja_Chica }, new { @class = "btnIngresar" })
                            @Html.ActionLink("Ver Movimiento", "Ver", "CajaChica", new { id_institucion = Model.Id_Institucion, Id_Caja_Chica = item.Id_Caja_Chica }, new { @class = "btnIngresar" })
                        </td>
                    </tr>
                }
                <tr>
                    <td align="left" valign="middle" colspan="4" height="20">
                    </td>
                    <td align="right" valign="bottom" colspan="3" height="20">
                        <div id="resumenPag" style="height: 30px; padding: 15px 5px 0 2px;">
                            @Html.ActionLink("Agregar Caja", "Agregar", "CajaChica", new { id_institucion = Model.Id_Institucion }, new { @class = "btnIngresar" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <table id="grilla" align="center" width="690px" cellpadding="0" cellspacing="0">
        <tr>
            <td width="722px">
                @Html.Partial("_SinDatos", "Caja Chica")
            </td>
        </tr>
        <tr>
            <td align="right" width="722px">
                @Html.ActionLink("Agregar Caja", "Agregar", "CajaChica", new { id_institucion = Model.Id_Institucion }, new { @class = "btnIngresar" })
            </td>
    </table>
}
