@model  InstitucionVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Instituciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Instituciones.js",Url)
}
@using (Html.BeginForm("Eliminar_Institucion", "Instituciones", FormMethod.Post, new { Id = "FormularioInstituciones" }))
{ 
   <div id="titulo">
        <div id="ttxt">
            Eliminar Institucion</div>
    </div>
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px; text-align:center;">
                <legend>Eliminar Institucion</legend>
    <table align="center" class="mybusqueda">
        <tr>
            <td>
                Nombre
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.N_INSTITUCION, new { disabled = "disabled", style = "width:125px;", MaxLength = "20" })
            </td>
        </tr>
        <tr>
            <td>
                Propia
            </td>
            <td>
                @Html.CheckBoxFor(c => c.INS_PROPIA, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <td>
                Provincia
            </td>
            <td>
                @Html.TextBoxFor(c => c.domicilios.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
            </td>
        </tr>
        <tr>
            <td>
                Localidad
            </td>
            <td>
                @Html.TextBoxFor(c => c.domicilios.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
            </td>
        </tr>
        <tr>
            <td>
                Barrio
            </td>
            <td>
                @Html.TextBoxFor(c => c.domicilios.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
            </td>
        </tr>
        <tr>
            <td>
                Calle
            </td>
            <td>
                @Html.TextBoxFor(c => c.domicilios.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
            </td>
        </tr>
        <tr>
            <td>
                Nro
            </td>
            <td>
                @Html.TextBoxFor(c => c.domicilios.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
            </td>
        </tr>
    </table>
    </fieldset>
    </td>
        </tr>
    </table>
    
    
    @Html.HiddenFor(d => d.ID_INSTITUCION)
    
    <table id ="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input id="Eliminar" type="button" value="Eliminar" class="boton" />&nbsp;&nbsp;
        @Html.ActionLink("Cancelar", "Index", "Instituciones", null, new { Class = "btnIngresar" })
            </td>
            
        </tr>
    </table>
}<br /><br /><br /><br /><br />
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
