@model  InstitucionVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Instituciones.js", Url)
}
<div class="box">
    <h2>
        Institución</h2>
    <table align="center" style="width: 622px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px; width: 700px;">
                    <tr>
                        <td>
                            <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                text-align: center;">
                                <legend style="color: #FF9900"><b>Datos de la Institucion</b></legend>
                                <table align="left" class="mybusqueda">
                                    <tr>
                                        <td align="left">
                                            <b>Nombre de la Institucion:</b>
                                        </td>
                                        <td align="left" valign="middle">
                                            @Html.TextBoxFor(c => c.Nombre_Institucion, new { disabled = "disabled", style = "width:125px;", MaxLength = "20" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <b>Es Propia de la Institucion:</b>
                                        </td>
                                        <td align="left" valign="middle">
                                            @Html.CheckBoxFor(c => c.espropia, new { disabled = "disabled" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <b>Domicilio:</b>
                                        </td>
                                        <td align="left" valign="middle">
                                            @Html.TextBoxFor(c => c.DireccionCompleta, new { disabled = "disabled", style = "width:350px;", MaxLength = "20" })
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                text-align: center;">
                                <legend style="color: #FF9900"><b>Cursos de la Institucion</b></legend>
                                <table>
                                    <tr>
                                        <td>
                                            @Html.Partial("_CondicionCursoLista", Model)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                text-align: center;">
                                <legend style="color: #FF9900"><b>Establecimientos de la Institucion</b></legend>
                                <table>
                                    <tr>
                                        <td>@Html.Partial("_EstablecimientoLista", Model)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                text-align: center;">
                                <legend style="color: #FF9900"><b>Caja Chica</b></legend>
                                <table>
                                    <tr>
                                        <td>
                                            @Html.Partial("_CajaChicaLista", Model)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.ActionLink("Volver al Listado", "Index", "Instituciones", null, new { @class = "btnIngresar" })
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(d => d.Id_Institucion)
            </td>
        </tr>
    </table>
</div>
