@model  DocentesVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Docentes.js",Url)
}
<div id="contenido">
    
@using (Html.BeginForm("Eliminar_Docente", "Docentes", FormMethod.Post, new { Id = "FormularioDocentes" }))
{ 
   
   

    <div id="titulo">
        <div id="ttxt">
            Eliminar Docente</div>
    </div>
  
   <table class="docentetr"  cellpadding="0" cellspacing="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
    
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Persona Juridica</a></li>
            <li><a href="#tabs-3">Domicilio</a></li>
        </ul>
        <div id="tabs-1">
            <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
                <tr>
                    <td width="220" align="right" valign="middle">
                        Modalidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.N_Modalidad, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd" })
                    </td>
                </tr>
                <tr>
                   <td width="220" align="right" valign="middle">
                        Cargos
                    </td>
                    <td>
                        @Html.EditorFor(c => c.cargos)
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
                <tr>
                    <td width="220" align="right" valign="middle">
                        Cuit
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.personajuridica.Cuit, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Cuit" })
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        Razon Social
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.personajuridica.Razon_Social, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Razonsocial" })
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
                <tr>
                   <td width="220" align="right" valign="middle">
                        Provincia
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
                    </td>
                </tr>
                <tr>
                     <td width="220" align="right" valign="middle">
                        Localidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
                    </td>
                </tr>
                <tr>
                     <td width="220" align="right" valign="middle">
                        Barrio
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        Calle
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        Nro
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
     </td>
        </tr>
    </table> 
     
    @Html.HiddenFor(d => d.Id_Domicilio)
    @Html.HiddenFor(d => d.Id_PersonaJuridica)
    @Html.HiddenFor(d => d.Id_Docente)
    
    
    <table id ="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input id="Eliminar" type="button" value="Eliminar" class="boton"/>&nbsp;&nbsp;
                @Html.ActionLink("Cancelar", "Index", "Docentes", null, new { Class = "btnIngresar" })
            </td>
            
        </tr>
    </table>
}
</div>
 <br /><br /><br /><br /><br />
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>