@model  DocentesVista
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Eliminar_Docente", "Docentes", FormMethod.Post, new { Id = "FormularioDocentes" }))
{ 
    <div id="titulo" style="width: 900px; height: 30px; padding: 10px 5px 0 5px; font-family: Arial, Helvetica, sans-serif;
        font-size: 16px; font-weight: bold;">
        Eliminar Docente</div>
  
    
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Persona Juridica</a></li>
            <li><a href="#tabs-3">Domicilio</a></li>
        </ul>
        <div id="tabs-1">
            <table>
                <tr>
                    <td>
                        Modalidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.N_Modalidad, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Cargos
                    </td>
                    <td>
                        @Html.EditorFor(c => c.cargos)
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            <table>
                <tr>
                    <td>
                        Cuit
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.personajuridica.Cuit, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Cuit" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Razon Social
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.personajuridica.Razon_Social, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Razonsocial" })
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            <table>
                <tr>
                    <td>
                        Provincia
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Localidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Barrio
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Calle
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Nro
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.domicilios.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    @Html.HiddenFor(d => d.Id_Domicilio)
    @Html.HiddenFor(d => d.Id_PersonaJuridica)
    @Html.HiddenFor(d => d.Id_Docente)
    
    <p>
        <input id="Eliminar" type="button" value="Eliminar" />
        @Html.ActionLink("Cancelar", "Index", "Docentes")
    </p>
}
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();

        $('#dialog').dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            resizable: false,
            buttons: {
                "Ok": function () {
                    var f = $("#FormularioDocentes");
                    $("#FormularioDocentes").submit()
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#Eliminar').click('click', function () {
            $('#dialog').dialog("open");
        });
    });
</script>
