@model EquipoVista
@{
    ViewBag.Title = "Equipamientos";
    ViewBag.SubMenuSelected = "Equipos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Equipos.js", Url)
}
<div class="box">
    <h2>
        Agregar Equipo</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Modificar_Equipo", "Equipamientos", FormMethod.Post, new { Id = "FormularioEquipos" }))
                { 
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend>Datos del Equipo:</legend>
                        <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td>
                                    <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 700px;">
                                        <tr>
                                            <td align="left">
                                                <b>Nombre del Equipo:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.N_Equipos, new { style = "width:250px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Estado del Equipo:</b>
                                            </td>
                                            <td align="left">
                                                @Html.EditorFor(c => c.EstadoEquipo)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
    
                    @Html.HiddenFor(c => c.Id_Equipo)
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" value="Guargar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Equipamientos", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
   
                }
            </td>
        </tr>
    </table>
</div>
