@model FacturaVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Facturas";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Factura.js", Url)
}
@using (Html.BeginForm("GuardarFactura", "Factura", FormMethod.Post, new { id = "FormFactura" }))
{ 
    @Html.HiddenFor(c => c.Accion)
    <input type="hidden" name="CambioUrl" id="CambioUrl" value="@Url.Action("CambiarCondicion")" />
    @Html.ValidationSummary(true)
    <div id="titulo">
        <div id="ttxt">
            Nueva Factura</div>
    </div>
    
   <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px; text-align:center;">
                <legend>Factura</legend>
    <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td align="left" valign="middle">
                Numero de Factura
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.NroFactura, new { style = "width:200px;", MaxLength = "50" })
                @Html.ValidationMessageFor(c => c.NroFactura,"*")
            </td>
        </tr>
        <tr>
            <td  align="left" valign="middle">
                Concepto
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Concepto, new { style = "width:200px;", MaxLength = "50" })
                @Html.ValidationMessageFor(c => c.Concepto,"*")
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                Institucion
            </td>
            <td align="left" valign="middle">
                @Html.EditorFor(c => c.Institucion)
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                Curso Asignado a la Institucion
            </td>
            <td align="left" valign="middle">
                @Html.EditorFor(c => c.CondicionCurso)
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                Descripcion
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Descripcion, new { style = "width:200px;", MaxLength = "50" })
                @Html.ValidationMessageFor(c => c.Descripcion,"*")
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                Item
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Item, new { style = "width:200px;", MaxLength = "50" })
                @Html.ValidationMessageFor(c => c.Item,"*")
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                Monto
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Monto, new { style = "width:10px;", MaxLength = "8" })
                @Html.ValidationMessageFor(c => c.Monto,"*")
            </td>
        </tr>
   </table>
     </fieldset>
    </td>
        </tr>
    </table>
    
   
    <table id ="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input type="submit" value="Guargar" class="boton" />&nbsp;&nbsp;
            </td>
            
        </tr>
    </table>
       <br /><br /><br /><br /><br />
}
