@model FacturaVista
@{
    ViewBag.Title = "Facturaciones";
    ViewBag.SubMenuSelected = "Facturacion";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Factura.js", Url)
}
<div class="box">
    <h2>
        Agregar Factura</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("GuardarFactura", "Factura", FormMethod.Post, new { id = "FormFactura" }))
                { 
                    @Html.HiddenFor(c => c.Accion)
                    <input type="hidden" name="CambioUrl" id="CambioUrl" value="@Url.Action("CambiarCondicion")" />
                    @Html.ValidationSummary(true)               
                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px; width: 722px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 710px;">
                                    <legend>Datos de la Factura</legend>
                                    <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 710px;">
                                        <tr>
                                            <td align="left" valign="middle">
                                                Nombre Institución:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Curso.NombeInstitucion, new { disabled = "disabled", style = "width:350px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Catalogo de Especialidades:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Curso.NombreCurso, new { disabled = "disabled", style = "width:350px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Número de Factura:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.NroFactura, new { style = "width:200px", MaxLength = "50",placeholder = PlaceHolderConstants.FacturaNumero })
                                                @Html.ValidationMessageFor(c => c.NroFactura, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Concepto de Factura:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextAreaFor(c => c.Concepto, new { style = "width:350px;height:45px", MaxLength = "50", placeholder = PlaceHolderConstants.FacturaConcepto })
                                                @Html.ValidationMessageFor(c => c.Concepto, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Descripción:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextAreaFor(c => c.Descripcion, new { style = "width:350px;height:45px", MaxLength = "50", placeholder = PlaceHolderConstants.FacturaDescripcion })
                                                @Html.ValidationMessageFor(c => c.Descripcion, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Item:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextAreaFor(c => c.Item, new { style = "width:350px;height:45px", MaxLength = "50", placeholder = PlaceHolderConstants.FacturaItem })
                                                @Html.ValidationMessageFor(c => c.Item, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="middle">
                                                Monto:
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(c => c.Monto, new { style = "width:100px;", MaxLength = "8", placeholder = PlaceHolderConstants.FacturaMonto })
                                                @Html.ValidationMessageFor(c => c.Monto, "*")
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                    @Html.HiddenFor(c => c.Id_Condicion_Curso)
   
                    <table id="myIntituciones" align="center" width="710px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" value="Guardar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Factura", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                
                }
            </td>
        </tr>
    </table>
</div>
