@model AlumnosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Modificar_Alumno", "Alumnos", FormMethod.Post, new { Id = "FormularioAlumnos" }))
{ 
    <div id="titulo">
        <div id="ttxt">
            Modificar Alumnos</div>
    </div>
    
    @Html.Partial("_Personas", Model.ListaPersona)
   
    <table>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                @Html.TextBoxFor(c => c.Nov_Nombre, new { disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
                @Html.ValidationMessageFor(m => m.Id_Persona)
            </td>
        </tr>
        <tr>
            <td>
                Apellido
            </td>
            <td>
                @Html.TextBoxFor(c => c.Nov_Apellido, new { disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Tipo
            </td>
            <td>
                @Html.EditorFor(c => c.TipoDocumento)
            </td>
        </tr>
        <tr>
            <td>
                Dni
            </td>
            <td>
                @Html.TextBoxFor(c => c.Nro_Documento, new { disabled = "disabled", style = "width:100px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Cuil
            </td>
            <td>
                @Html.TextBoxFor(c => c.Cuil, new { disabled = "disabled", style = "width:100px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Sexo
            </td>
            <td>
                @Html.EditorFor(c => c.Sexo)
            </td>
        </tr>
        <tr>
            <td>
                Estado Civil
            </td>
            <td>
                @Html.EditorFor(c => c.EstadoCivil)
            </td>
        </tr>
    </table>
    
    <p>
        <input type="submit" value="Guargar" />
        @Html.ActionLink("Cancelar", "Index", "Alumnos")
    </p>
    @Html.HiddenFor(d => d.Id_Persona)
    @Html.HiddenFor(d => d.Id_Alumno)
}
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
