@model IList<IAlumnos>
@if (Model != null && Model.Count > 0)
{ 
    <div id="grilla" style="text-align: center;">
        <table align="center" width="722px" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th height="30" width="180px">
                        <div align="center">
                            Nombre</div>
                    </th>
                    <th height="30" width="180px">
                        <div align="center">
                            Apellido</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Dni</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Fecha Nacimiento</div>
                    </th>
                    <th height="30">
                        <div align="center" style="margin-right: 2px;">
                            Accion
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" height="30">
                            @item.Nombre
                        </td>
                        <td align="center" height="30">
                            @item.Apellido
                        </td>
                        <td align="center" height="30">
                            @item.Nro_Documento
                        </td>
                        <td align="center" height="30">
                            @item.Fecha_Nacimiento.ToShortDateString()
                        </td>
                        <td align="center" style="margin-right: 2px;">
                            @Html.ActionLink("Modificar", "Modificar", "Alumnos", new { id_alumno = item.Id_Alumno }, new { @class = "btnIngresar" })
                            @Html.ActionLink("Eliminar", "Eliminar", "Alumnos", new { id_alumno = item.Id_Alumno }, new { @class = "btnIngresar" })
                        </td>
                    </tr>
                }<tr>
                    <td align="left" colspan="7">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="4" height="20">
                        <div id="resumenPag" style="height: 30px; padding: 10px 5px 0 2px;">
                        </div>
                    </td>
                    <td align="right" valign="bottom" colspan="3" height="20">
                        <div id="resumenPag" style="height: 30px; padding: 15px 5px 0 2px;">
                            @Html.ActionLink("Agregar Alumno", "Agregar", "Alumnos", new { @class = "btnIngresar" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div id="tab" style="text-align: center;">
        <table align="center" id="mytable">
            <thead>
                <tr>
                    <th height="30">
                        <div align="center">
                            SIN DATOS</div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
}
