@model AlumnosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Agregar_Alumno", "Alumnos", FormMethod.Post, new { Id = "FormularioAlumnos" }))
{ 
    <div id="titulo">
        <div id="ttxt">
            Nuevo Alumno</div>
    </div>
    
    @Html.Partial("_Personas", Model.ListaPersona)
   
   <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px; text-align:center;">
                <legend>Domicilio</legend>
    <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
                Nombre
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Nov_Nombre, new {disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
                @Html.ValidationMessageFor(m => m.Id_Persona)
            </td>
        </tr>
        <tr>
            <td>
                Apellido
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Nov_Apellido, new { disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Tipo
            </td>
            <td align="left" valign="middle">
                @Html.EditorFor(c => c.TipoDocumento)
            </td>
        </tr>
        <tr>
            <td>
                Dni
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Nro_Documento, new { disabled = "disabled", style = "width:100px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Cuil
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Cuil, new { disabled = "disabled", style = "width:100px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
        <tr>
            <td>
                Sexo
            </td>
            <td align="left" valign="middle">
                @Html.EditorFor(c => c.Sexo)
            </td>
        </tr>
        <tr>
            <td>
                Estado Civil
            </td>
            <td align="left" valign="middle">
                @Html.EditorFor(c => c.EstadoCivil)
            </td>
        </tr>
    </table>
     </fieldset>
    </td>
        </tr>
    </table>
    
    <table id ="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input type="submit" value="Guargar" class="boton" />&nbsp;&nbsp;
       @Html.ActionLink("Cancelar", "Index", "Alumnos", null, new { Class = "btnIngresar" })
            </td>
            
        </tr>
    </table>
       <br /><br /><br /><br /><br />
    @Html.HiddenFor(d => d.Id_Persona)
    @Html.ValidationSummary(true)
}
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
