@model IList<ICursos>
<style type="text/css">
    body
    {
        background: #fff;
    }
    #mytable
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }
    table
    {
        border-collapse: collapse;
        width: 900px;
        margin: 24px;
        font-size: 1.1em;
    }
    
    th
    {
        background: #3e83c9;
        color: #fff;
        font-weight: bold;
        padding: 2px 11px;
        text-align: left;
        border-right: 1px solid #fff;
        line-height: 1.2;
    }
    
    td
    {
        padding: 6px 11px;
        border-bottom: 1px solid #95bce2;
        vertical-align: top;
    }
    
    td *
    {
        padding: 6px 11px;
    }
    
    tr.alt td
    {
        background: #ecf6fc;
    }
    
    tr.over td, tr:hover td
    {
        background: #bcd4ec;
    }
    /*pag*/
    ul
    {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    #pagination-clean li
    {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 11px;
        list-style: none;
    }
    #pagination-clean li, #pagination-clean a
    {
        margin-right: 2px;
    }
    #pagination-clean .previous-off, #pagination-clean .next-off
    {
        color: #888888;
        display: block;
        float: left;
        font-weight: bold;
        padding: 3px 4px;
    }
    #pagination-clean .next a, #pagination-clean .previous a
    {
        font-weight: bold;
    }
    #pagination-clean .active
    {
        color: #000000;
        font-weight: bold;
        display: block;
        float: left;
        padding: 4px 6px;
    }
    #pagination-clean a:link, #pagination-clean a:visited
    {
        color: #fff;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }
    #pagination-clean a:hover
    {
        text-decoration: none;
    }
    .Estilo2
    {
        color: #0033CC;
    }
</style>
@if (Model != null && Model.Count > 0)
{ 
    <div id="tab" style="text-align: center;">
        <table align="center" id="mytable">
            <thead>
                <tr>
                    <th height="30">
                        <div align="center">
                            NOMBRE</div>
                    </th>
                     <th height="30">
                        <div align="center">
                            NRO RESOLUCION</div>
                    </th>
                     <th height="30">
                        <div align="center">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left">
                            @item.N_CURSO
                        </td> 
                         <td align="left">
                            @item.NRORESOLUCION
                        </td> 
                         <td>
                            @Html.ActionLink("Modificar", "Modificar", "Cursos", new { id_curso = item.ID_CURSO }, null)
                            @Html.ActionLink("Eliminar", "Eliminar", "Cursos", new { id_curso = item.ID_CURSO }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="tab" style="text-align: center;">
        <table align="center" id="mytable">
            <thead>
                <tr>
                    <th height="30">
                        <div align="center">
                            SIN DATOS</div>
                    </th>
                </tr>

            </thead>
        </table>
    </div>
}
@Html.ActionLink("Agregar Curso", "Agregar", "Cursos")
