@model CursosVista
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Cursos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Cursos.js", Url)
}
<div class="box">
    <h2>
        Agregar Catálogo </h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Agregar_Cursos", "Cursos", FormMethod.Post, new { Id = "FormularioCursos" }))
                { 
                    @Html.ValidationSummary(true)
                    <br />
                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px; width: 700px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 690px;
                                    text-align: center;">
                                    <legend>Datos del  Catálogo </legend>
                                    <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 690px;">
                                        <tr>
                                            <td align="left">
                                                Nombre del Catálogo :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.N_CURSO, new { style = "width:250px;", MaxLength = "64", Class = "asd", placeholder = PlaceHolderConstants.CursoNombre })
                                                @Html.ValidationMessageFor(m => m.N_CURSO, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                Area Tipo Catálogo :
                                            </td>
                                            <td align="left">
                                                @Html.EditorFor(c => c.AreasTipoCursos)
                                                @Html.ValidationMessageFor(m => m.Id_Area_Tipo_Curso, "*")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                Número Resolución:
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.NRORESOLUCION, new { style = "width:250px;", MaxLength = "64", Class = "asd", placeholder = PlaceHolderConstants.Resolucion })
                                                @Html.ValidationMessageFor(m => m.NRORESOLUCION, "*")
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                  
    
                    <table id="btnfin" align="center" width="690px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" value="Guardar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Cursos", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>

                }
            </td>
        </tr>
    </table>
</div>
