@model GrupoVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Grupos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Grupos.js",Url)
}
<div class="box">
  <h2>Agregar Grupo</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                    
                </div> 
@using (Html.BeginForm("Agregar_Grupo", "Grupos", FormMethod.Post, new { Id = "FormularioGrupos" }))
{ 
   
    <div id="tabs" style="width:700px;">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Docente</a></li>
            <li><a href="#tabs-3">Establecimiento</a></li>
        </ul>
        <div id="tabs-1">
           <table style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                <tr>
                <td>
                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 660px; text-align: center;">
               <legend>Grupos</legend>
                <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:660px;">
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Nombre:</b>
                    </td>
                    <td align="left" valign="middle">
                        @Html.TextBoxFor(c => c.NombreGrupo, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
                    </td>
                </tr>
                 <tr>
                    <td width="220" align="right" valign="middle">
                         <b>Capacidad: </b>
                    </td>
                    <td align="left" valign="middle">
                        @Html.TextBoxFor(c => c.Capacidad, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
                    </td>
                </tr>
                <tr>
                   <td width="220" align="right" valign="middle">
                         <b>Horario: </b>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
             </fieldset>
                </td>
                </tr>
                </table>
        </div>
        <div id="tabs-2">
            @Html.Partial("_DocenteLista", Model)

             <table style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                <tr>
                <td>
                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 660px; text-align: center;">
               <legend>Docente</legend>
                <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:660px;">
                <tr>
                     <td width="220" align="right" valign="middle">
                        <b>Cuit:</b>
                    </td>
                    <td align="left" valign="middle">
                        <input id="Cuit" disabled style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Razon Social:</b>
                    </td>
                    <td align="left" valign="middle">
                        <input id="Razonsocial" disabled style="width: 200px;" />
                    </td>
                </tr>
            </table>
             </fieldset>
                </td>
                </tr>
                </table>
        </div>
        <div id="tabs-3">
            @Html.Partial("_EstablecimientoLista", Model)
            <br />

            <table style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                <tr>
                <td>
                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 660px; text-align: center;">
               <legend>Grupos</legend>
                <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:660px;">
                <tr>
                     <td width="220" align="right" valign="middle">
                        <b>Nombre Establecimiento:</b>
                    </td>
                    <td align="left" valign="middle">
                        <input id="N_Establecimiento" disabled style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Provincia:</b>
                    </td>
                     <td align="left" valign="middle">
                        <input id="Provincia" disabled style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                   <td width="220" align="right" valign="middle">
                        <b>Localidad:</b>
                    </td>
                     <td align="left" valign="middle">
                        <input id="Localidad" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Barrio:</b>
                     <td align="left" valign="middle">
                        <input id="Barrio" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Calle</b>
                    </td>
                     <td align="left" valign="middle">
                        <input id="Calle" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td width="220" align="right" valign="middle">
                        <b>Nro</b>
                    </td>
                     <td align="left" valign="middle">
                        <input id="Nro" disabled style="width: 60px;" />
                    </td>
                </tr>
            </table>
            </fieldset>
                </td>
                </tr>
                </table>
        </div>
    </div>
    
   
    
    @Html.HiddenFor(d => d.Id_Establecimiento)
    @Html.HiddenFor(d => d.Id_Docente)
    
    <table  align="center" width="700px">
        <tr>
            <td align="right" valign="middle">
                <input type="submit" value="Guargar" class="btnIngresar" />&nbsp;&nbsp;
        @Html.ActionLink("Cancelar", "Index", "Grupos", null, new { Class = "btnIngresar" })
            </td>
            
        </tr>
    </table>
}
</td>
        </tr>
    </table>
</div>
