@model  DocentesVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Agregar_Docente", "Docentes", FormMethod.Post, new { Id = "FormularioDocentes" }))
{ 
    <div id="titulo">
        <div id="ttxt">
            Agregar Docente</div>
    </div>
  
    
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Persona Juridica</a></li>
            <li><a href="#tabs-3">Domicilio</a></li>
        </ul>
        <div id="tabs-1">
            <table>
                <tr>
                    <td>
                        Modalidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.N_Modalidad, new { style = "width:200px;", MaxLength = "64", Class = "asd" })
                        @Html.ValidationMessageFor(m => m.N_Modalidad)
                    </td>
                </tr>
                <tr>
                    <td>
                        Cargos
                    </td>
                    <td>
                        @Html.EditorFor(c => c.cargos)
                        @Html.ValidationMessageFor(m => m.Id_Cargo)
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            @Html.Partial("_PersonasJuridica", Model.ListaPersonaJuridica)
            <table>
                <tr>
                    <td>
                        Cuit
                    </td>
                    <td>
                        <input id="Cuit" disabled style="width: 200px;" />
                        @Html.ValidationMessageFor(m => m.Id_PersonaJuridica)
                    </td>
                </tr>
                <tr>
                    <td>
                        Razon Social
                    </td>
                    <td>
                        <input id="Razonsocial" disabled  style="width: 200px;" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            @Html.Partial("_Domicilios", Model.ListaDomicilios)
            <table>
                <tr>
                    <td>
                        Provincia
                    </td>
                    <td>
                        <input id="Provincia" disabled style="width: 200px;" />
                        @Html.ValidationMessageFor(m => m.Id_Domicilio)
                    </td>
                </tr>
                <tr>
                    <td>
                        Localidad
                    </td>
                    <td>
                        <input id="Localidad" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Barrio
                    </td>
                    <td>
                        <input id="Barrio" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Calle
                    </td>
                    <td>
                        <input id="Calle" disabled style="width: 350px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Nro
                    </td>
                    <td>
                        <input id="Nro" disabled style="width: 60px;" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    @Html.HiddenFor(d => d.Id_Domicilio)
    @Html.HiddenFor(d => d.Id_PersonaJuridica)
    
    <p>
        <input type="submit" value="Guargar" />
        @Html.ActionLink("Cancelar", "Index", "Docentes")
    </p>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
