@model  DocentesVista
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Agregar_Docente", "Docentes", FormMethod.Post, new { Id = "FormularioDocentes" }))
{ 
    <div id="titulo" style="width: 900px; height: 30px; padding: 10px 5px 0 5px; font-family: Arial, Helvetica, sans-serif;
        font-size: 16px; font-weight: bold;">
        Agregar Docente</div>
  
    
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Persona Juridica</a></li>
            <li><a href="#tabs-3">Domicilio</a></li>
        </ul>
        <div id="tabs-1">

            <table>
                <tr>
                    <td>
                        Modalidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.N_Modalidad, new { style = "width:200px;", MaxLength = "64", Class = "asd" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Cargos
                    </td>
                    <td>
                        @Html.EditorFor(c => c.cargos)
                    </td>
                </tr>
            </table>

        </div>
        <div id="tabs-2">
            @Html.Partial("_PersonasJuridica", Model.ListaPersonaJuridica)

            <table>
                <tr>
                    <td>
                        Cuit
                    </td>
                    <td>
                        <input id="Cuit" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Razon Social
                    </td>
                    <td>
                        <input id="Razonsocial" style="width: 200px;" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            @Html.Partial("_Domicilios", Model.ListaDomicilios)

            <table>
                <tr>
                    <td>
                        Provincia
                    </td>
                    <td>
                        <input id="Provincia" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Localidad
                    </td>
                    <td>
                        <input id="Localidad" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Barrio
                    </td>
                    <td>
                        <input id="Barrio" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Calle
                    </td>
                    <td>
                        <input id="Calle" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Nro
                    </td>
                    <td>
                        <input id="Nro" style="width: 200px;" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    @Html.HiddenFor(d => d.Id_Domicilio)
    @Html.HiddenFor(d => d.Id_PersonaJuridica)
    
    <p>
        <input type="submit" value="Guargar" />
        @Html.ActionLink("Cancelar", "Index", "Docentes")
    </p>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
