@model ExamenVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Examenes";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Examenes.js", Url)
}
@using (Html.BeginForm("GuardarExamen", "Examenes", FormMethod.Post,new {id = "FormExamenes"}))
{ 
    @Html.HiddenFor(c => c.Accion)
    @Html.HiddenFor(c => c.IdExamen)
    <input type="hidden" name="UrlCambioCombo" id="UrlCambioCombo" value="@Url.Action("CambiarCombo")" />
    @Html.ValidationSummary(true)
    <div id="titulo">
        <div id="ttxt">
            Agregar Examen</div>
    </div>
    <table>
        <tr>
            <td>
                Numero de Examen
            </td>
            <td>
                @Html.TextBoxFor(c => c.NroExamen)
                @Html.ValidationMessageFor(c => c.NroExamen, "*")
            </td>
        </tr>
        <tr>
            <td>
                Fecha de Examen
            </td>
            <td>
                @Html.TextBoxFor(c => c.FechaExamen)
                @Html.ValidationMessageFor(c => c.FechaExamen, "*")
            </td>
        </tr>
        <tr>
            <td>
                Grupos
            </td>
            <td>
                @Html.EditorFor(c => c.Grupos)
            </td>
        </tr>
        <tr>
            <td>
                Alumno
            </td>
            <td>
                 @Html.EditorFor(c => c.Alumnos)
            </td>
        </tr>
        <tr>
            <td>
                Nota
            </td>
            <td>
                @Html.TextBoxFor(c => c.Nota)
                @Html.ValidationMessageFor(c => c.Nota, "*")
            </td>
        </tr>
    </table>
    
    <p>
        <input type="submit" value="Guargar" />
    </p>
}
