@model  EstablecimientoVista
@{
    ViewBag.Title = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Establecimientos.js", Url)
}
<div class="box">
    <h2>
        Eliminar Establecimiento</h2>
    <table align="center" style="width: 622px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Establecimiento", "Establecimientos", FormMethod.Post, new { Id = "FormularioEstablecimiento" }))
                { 
                    @Html.ValidationSummary(true)
                    <br />
                    <table id="myIntituciones" align="center" width="630px">
                        <tr>
                            <td align="left">
                                Nombre Establecimiento:
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.NombreEstablecimiento, new { disabled = "disabled", style = "width:400px;", MaxLength = "50" })
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                Institucion:
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.NombreInstitucion, new { disabled = "disabled", style = "width:400px;", MaxLength = "50" })
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                Domicilio:
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.DomicilioCompleto, new { disabled = "disabled", style = "width:400px;", MaxLength = "50" })
                            </td>
                        </tr>
                    </table>
    
                    @Html.HiddenFor(d => d.Id_Establecimiento)
                    @Html.HiddenFor(d => d.Id_Domicilio)
                    @Html.HiddenFor(d => d.Id_Institucion)

                    <table id="myIntituciones" align="center" width="700px">
                        <tr>
                            <td align="right" vlign="middle">
                                <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />
                                @Html.ActionLink("Cancelar", "Ver", "Instituciones", new { INST_ID = Model.Id_Institucion }, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
   
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
