<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Content.Stylesheet("css/Master.css", Url)
    @Content.Stylesheet("MVCFramework.css", Url)
    @Content.Stylesheet("redmond/jquery-ui-1.8.18.custom.css", Url)
    @Content.Stylesheet("css/Pager.css", Url)
    @RenderSection("Stylesheets", false)
</head>
<body>
    <input type="hidden" name="CurrentDate" id="CurrentDate" value="@System.DateTime.Today" />
    <div id="wrap">
        <div id="header">
        </div>
        <div id="menu">
            <ul>
                <li @{if (ViewBag.Title.Contains("Instituciones"))
                      {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Instituciones", "Index", "Instituciones", null, null)</li>
                <li @{if (ViewBag.Title.Contains("Superviciones"))
                      {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Superviciones", "Index", "Superviciones", null, null)</li>
                <li @{if (ViewBag.Title.Contains("Inscripciones"))
                      {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Inscripciones", "Index", "Inscripciones", null, null)</li>
                <li @{if (ViewBag.Title.Contains("Facturaciones"))
                      {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Facturaciones", "Index", "Factura", null, null)</li>
                <li @{if (ViewBag.Title.Contains("Equipamientos"))
                      {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Equipamientos", "Index", "Equipamientos", null, null)</li>
                <li @{if (ViewBag.Title.Contains("Ayuda"))
                             {@Html.Raw("class=\"selected\"") }}>@Html.ActionLink("Ayuda", "Index", "Ayuda", null, null)</li>
            </ul>
            <div align="right">@Html.Action("GetLoguedUser","Account")
            </div>
            
           
        </div>
        <div id="content">
            <div class="right">
                @RenderBody()
            </div>
            <div class="left">
                <h2>
                    Categories :</h2>
                <ul>
                    @{ if (ViewBag.Title.Contains("Instituciones"))
                       {
                        <li>@Html.ActionLink("Gestion Instituciones", "Index", "Instituciones", null, new { @class = ViewBag.SubMenuSelected == "Instituciones" ? "selected" : "" })</li>                  
                        <li>@Html.ActionLink("Gestion Docentes", "Index", "Docentes", null, new { @class = ViewBag.SubMenuSelected == "Docentes" ? "selected" : "" })</li>
                        <li>@Html.ActionLink("Gestion Cursos", "Index", "Cursos", null, new { @class = ViewBag.SubMenuSelected == "Cursos" ? "selected" : "" })</li>                  
                        <li>@Html.ActionLink("Gestion Alumnos", "Index", "Alumnos", null, new { @class = ViewBag.SubMenuSelected == "Alumnos" ? "selected" : "" })</li>
                       }

                       if (ViewBag.Title.Contains("Inscripciones"))
                       {
                        <li>@Html.ActionLink("Gestion Inscripciones", "Index", "Inscripciones", null, new { @class = ViewBag.SubMenuSelected == "Inscripciones" ? "selected" : "" })</li> 
                        <li>@Html.ActionLink("Gestion Examenes", "Examenes", "Inscripciones", null, new { @class = ViewBag.SubMenuSelected == "Examenes" ? "selected" : "" })</li>  
                        <li>@Html.ActionLink("Gestion Presentismo", "Presentismo", "Inscripciones", null, new { @class = ViewBag.SubMenuSelected == "Presentismo" ? "selected" : "" })</li>  
                        <li>@Html.ActionLink("Emitir Certificado", "Certificado", "Inscripciones", null, new { @class = ViewBag.SubMenuSelected == "Certificado" ? "selected" : "" })</li>
                       }

                       if (ViewBag.Title.Contains("Superviciones"))
                       {
                        <li>@Html.ActionLink("Gestion Superviciones", "Index", "Superviciones", null, new { @class = ViewBag.SubMenuSelected == "Superviciones" ? "selected" : "" })</li> 
                        <li>@Html.ActionLink("Gestion Supervisores", "Index", "Supervisores", null, new { @class = ViewBag.SubMenuSelected == "Supervisores" ? "selected" : "" })</li>
                       }

                       if (ViewBag.Title.Contains("Equipamientos"))
                       {
                        <li>@Html.ActionLink("Gestion de Equipos", "Index", "Equipamientos", null, new { @class = ViewBag.SubMenuSelected == "Equipos" ? "selected" : "" })</li> 
                        <li>@Html.ActionLink("Gestion de Prestamos", "Index", "Prestamos", null, new { @class = ViewBag.SubMenuSelected == "Prestamos" ? "selected" : "" })</li>
                        <li>@Html.ActionLink("Gestion de Inventarios", "Index", "Inventarios", null, new { @class = ViewBag.SubMenuSelected == "Inventarios" ? "selected" : "" })</li>
                       }

                       if (ViewBag.Title.Contains("Facturaciones"))
                       {
                        <li>@Html.ActionLink("Gestion Factura", "Index", "Factura", null, new { @class = ViewBag.SubMenuSelected == "Facturacion" ? "selected" : "" })</li> 
                        <li>@Html.ActionLink("Liquidacion Cursos", "LiquidarFactura", "Factura", null, new { @class = ViewBag.SubMenuSelected == "Liquidacion" ? "selected" : "" })</li> 
                       }
                       
                    }
                </ul>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div id="footer">
            Copyright - Terminos de Uso - Gobierno de Córdoba - Contáctenos
        </div>
    </div>
    @Content.Script("jquery-1.5.1.min.js", Url)
    @Content.Script("jquery.unobtrusive-ajax.min.js", Url)
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
    @Content.Script("jquery-ui-1.8.11.min.js", Url)
    @Content.Script("jquery.maskedinput-1.3.min.js", Url)    
    @Content.Script("CbaGob.Alumnos.Global.js", Url)   
    @RenderSection("Scripts", false)
    @Content.Script("cbaGob.Alumnos.SetFront.js", Url)
    @Content.Script("jquery.pager.js", Url)
</body>
</html>
