@model GrupoVista
@{
    ViewBag.Title = "SGC -- Gobierno de Córdoba -- Grupo Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Modificar_Grupo", "Grupos", FormMethod.Post, new { Id = "FormularioGrupos" }))
{ 
    
    
    <div id="titulo">
        <div id="ttxt">
            Grupo -- Modificar</div>
    </div>
 
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Datos</a></li>
            <li><a href="#tabs-2">Docente</a></li>
            <li><a href="#tabs-3">Establecimiento</a></li>
        </ul>
        <div id="tabs-1">
            <table>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.NombreGrupo, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
                    </td>
                </tr>
                 <tr>
                    <td>
                        Capacidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Capacidad, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Horario
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            @Html.Partial("_DocenteLista", Model)
            <table>
                <tr>
                    <td>
                        Cuit
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Cuit, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Cuit" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Razon Social
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.RazonSoial, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Razonsocial" })
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            @Html.Partial("_EstablecimientoLista", Model)
            <table>
                <tr>
                    <td>
                        Nombre Establecimiento
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.NombreEstablecimiento, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "N_Establecimiento" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Provincia
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Localidad
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Barrio
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Calle
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Nro
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <p>
        <input type="submit" value="Guargar" />
        @Html.ActionLink("Cancelar", "Index", "Grupos")
    </p>
    
    @Html.HiddenFor(d => d.Id_Establecimiento)
    @Html.HiddenFor(d => d.Id_Docente)
    @Html.HiddenFor(d => d.Id_Grupo)
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
