@model SupervicionVista
@{
    ViewBag.Title = "Superviciones";
    ViewBag.SubMenuSelected = "Superviciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Superviciones.js", Url)
}
<div class="box">
    <h2>
        Agregar Supervición</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("IndexPagerSup", "Superviciones", FormMethod.Post, new { Id = "FormularioSuperviciones" }))
                { 
                    <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                        width: 700px;">
                        <tr>
                            <td>
                                <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                    width: 700px;">
                                    <tr>
                                        <td align="left">
                                            <fieldset>
                                                <legend>Seleccione la Institución:</legend>
                                                @Html.Partial("_InstitucionesLista", Model)
                                                @Html.Partial("_Pager", Model.Institucions.pager)
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <fieldset>
                                                <legend>Seleccione el Curso:</legend>
                                                @Html.Partial("_CursosLista", Model)
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <fieldset>
                                                <legend>Seleccione el Módulo:</legend>
                                                @Html.Partial("_GruposLista", Model)
                                            </fieldset>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
    
                  
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                @Html.ActionLink("Cancelar", "Index", "Superviciones", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
   
                }
            </td>
        </tr>
    </table>
</div>
