@model SupervicionVista
@{
    ViewBag.Title = "Superviciones";
    ViewBag.SubMenuSelected = "Superviciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Superviciones.js", Url)
}
<div class="box">
    <h2>
        Eliminar Supervición</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Supervicion", "Superviciones", FormMethod.Post, new { Id = "FormularioSuperviciones" }))
                { 
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                        text-align: center;">
                        <legend>Datos de la Supervición:</legend>
                        <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td>
                                    <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                                        width: 700px;">
                                        <tr>
                                            <td align="left">
                                                <b>Nombre Institución:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.Grupo.Nombre_Institucion, new { disabled = "disabled", style = "width:200px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Nombre Curso:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.Grupo.Nombre_Curso, new { disabled = "disabled", style = "width:200px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Nombre Grupo:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.Grupo.NombreGrupo, new { disabled = "disabled", style = "width:200px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Buscador Supervisor:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.NombrePersonaJuridica, new { disabled = "disabled", Id = "fecSup", style = "width:90px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Fecha de Supervición:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(c => c.Fec_Supervision, new {disabled = "disabled", Id = "fecSup", style = "width:90px;", MaxLength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Hora de Supervición:</b>
                                            </td>
                                            <td align="left">
                                                <select id="selectedhora">
                                                    <option>Hora</option>
                                                    @for (int i = 1; i < 25; i++)
                                                    {
                                                        <option @i>@i</option>
                                                    }
                                                </select>
                                                :
                                                <select id="selectedminuto">
                                                    <option>Minuto</option>
                                                    @for (int i = 1; i < 60; i++)
                                                    {
                                                        <option value = @i >@i </option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Observación:</b>
                                            </td>
                                            <td align="left">
                                                @Html.TextAreaFor(c => c.Observaciones, new {disabled = "disabled", style = "width:300px;height:50px;", MaxLength = "3999" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    @Html.HiddenFor(c => c.Id_Supervisor)
                    @Html.HiddenFor(c => c.Id_Grupo)
                    @Html.HiddenFor(c => c.hora)
                    @Html.HiddenFor(c => c.minuto)
                    @Html.HiddenFor(c => c.Id_Supervision)
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                  <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Superviciones", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
   
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>