@model CondicionCursoVista
@{
    ViewBag.Title = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.CondicionesCurso.js", Url)
}
<div class="box">
    <h2>
        Agregar Curso a Institución</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("GuardarCondicionCurso", "CondicionesCurso", FormMethod.Post, null))
                { 
                    @Html.HiddenFor(c => c.Accion)
                    @Html.HiddenFor(c => c.IdCondicionCurso)
                    @Html.HiddenFor(c => c.IdInstitucion)
                    @Html.ValidationSummary(true)
                    <br />
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900">Datos del Curso</legend>
                        <table align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                            width: 700px;">
                            <tr>
                                <td>
                                    Nombre de la Institución:
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.NombeInstitucion, new { style = "width:250px;", MaxLength = "150", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cátalo de Especialidades:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.Curso, new { placeholder = PlaceHolderConstants.CursoNombre })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Estado del Curso:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.EstadoCurso)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Modalidad:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.Modalidad, new { placeholder = PlaceHolderConstants.ModalidadNombre })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.CantidadClases)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.CantidadClases, new { style = "width:50px;", MaxLength = "4" })
                                    @Html.ValidationMessageFor(c => c.CantidadClases, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.CantidadExamenes)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.CantidadExamenes, new { style = "width:50px;", MaxLength = "3" })
                                    @Html.ValidationMessageFor(c => c.CantidadExamenes, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.PromedioRequerido)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.PromedioRequerido, new { style = "width:50px;", MaxLength = "4" })
                                    @Html.ValidationMessageFor(c => c.PromedioRequerido, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.CargaHoraria)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.CargaHoraria, new { style = "width:50px;", MaxLength = "3" })
                                    @Html.ValidationMessageFor(c => c.CargaHoraria, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.Cupo)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Cupo, new { style = "width:50px;", MaxLength = "3" })
                                    @Html.ValidationMessageFor(c => c.Cupo, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.Presentismo)
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Presentismo, new { style = "width:50px;", MaxLength = "3" })%
                                    @Html.ValidationMessageFor(c => c.Presentismo, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(c=> c.Presupuesto)
                                </td>
                                <td>
                                    $@Html.TextBoxFor(c => c.Presupuesto, new { style = "width:50px;", MaxLength = "8",placeholder = PlaceHolderConstants.CursoPresupuesto })
                                    @Html.ValidationMessageFor(c => c.Presupuesto, "*")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fecha Inicio:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.Fecha_Inicio)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fecha Fin:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.Fecha_Fin)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Programa:
                                </td>
                                <td>
                                    @Html.EditorFor(c => c.Programa, new { placeholder = PlaceHolderConstants.ProgramaNombre })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Número de Resolución:
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => c.Nro_Resolucion, new { style = "width:250px;", MaxLength = "64", placeholder = PlaceHolderConstants.Resolucion })
                                    @Html.ValidationMessageFor(c => c.Nro_Resolucion, "*")
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table id="btnfin" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input type="submit" value="Guardar" class="btnIngresar" />
                                @Html.ActionLink("Cancelar", "Ver", "Instituciones", new { INST_ID = Model.IdInstitucion }, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
