@model CondicionCursoVista
@{
    ViewBag.Title = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.CondicionesCurso.js", Url)
}
<div class="box">
    <h2>
        Curso</h2>
    <table align="center" style="width: 700px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("CambairEstadoCurso", "CondicionesCurso", FormMethod.Post, null))
                { 
                    @Html.HiddenFor(c => c.Accion)
                    @Html.HiddenFor(c => c.IdCondicionCurso)
                    @Html.HiddenFor(c => c.IdInstitucion)
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Datos del Curso </b></legend>
                        <table align="left" class="mybusqueda" style="font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px; width: 700px;">
                            <tr>
                                <td align="left">
                                    <b>Nombre de la Institucion:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombeInstitucion, new { style = "width:200px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Nombre del Curso:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreCurso, new { style = "width:200px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Estado del Curso</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.EditorFor(c => c.EstadoCurso)<input type="submit" value="Cambiar Estado Curso"
                                        class="btnIngresar" />
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Modalidad:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreModalidad, new { style = "width:200px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Nivel:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombreNivel, new { style = "width:200px;", MaxLength = "50", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Cantidad de Clases:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.CantidadClases, new { style = "width:50px;", MaxLength = "4", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Cantidad de Examenes:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.CantidadExamenes, new { style = "width:50px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Carga Horaria:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.CargaHoraria, new { style = "width:50px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Cupo:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Cupo, new { style = "width:50px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Presentismo:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presentismo, new { style = "width:50px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Presupuesto:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.Presupuesto, new { style = "width:50px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Programa:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.NombrePrograma, new { style = "width:200px;", MaxLength = "3", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <b>Promedio Requerido:</b>
                                </td>
                                <td align="left" valign="middle">
                                    @Html.TextBoxFor(c => c.PromedioRequerido, new { style = "width:50px;", MaxLength = "4", disabled = "disabled" })
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Grupos del Curso</b></legend>
                        <table>
                            <tr>
                                <td>@Html.Partial("_GrupoLista", Model)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;">
                        <legend style="color: #FF9900"><b>Alumnos Inscripto al Curso</b></legend>
                        <table>
                            <tr>
                                <td>@Html.Partial("_AlumnosLista", Model)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table style="width: 700px;">
                        <tr>
                            <td align="right">
                                @Html.ActionLink("Volver al Listado de Instituciones", "Index", "Instituciones", null, new { @class = "btnIngresar" })
                                @Html.ActionLink("Volver", "Ver", "Instituciones", new { INST_ID = Model.IdInstitucion }, new { @class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
