@model IList<IInstitucion>

@if (Model != null && Model.Count > 0)
{ 
    <div id="tab" style="text-align: center;">
        <table align="center" id="mytable" width="750px"  cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th height="30">
                        <div align="center">
                            NOMBRE</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            PROPIA</div>
                    </th>
                     <th height="30">
                        <div align="center">
                            FECHA ALTA</div>
                    </th>
                    <th height="30">
                        <div align="center">
                        ACCION</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left">
                            @item.N_INSTITUCION
                        </td>
                        <td>
                            @item.INS_PROPIA
                        </td>
                         <td>
                           @item.FechaAlta.ToShortDateString()
                        </td>
                        <td>
                            @Html.ActionLink("Modificar", "Modificar", "Instituciones", new { INST_ID = item.ID_INSTITUCION }, null)
                            @Html.ActionLink("Eliminar", "Eliminar", "Instituciones", new { INST_ID = item.ID_INSTITUCION }, null)
                            @*@Html.ActionLink("Detalle","Index","CondicionesCurso",null,null)*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    @Html.Partial("_SinDatos", "instituciones")
}
<br />
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   @Html.ActionLink("Agregar Institucion", "Agregar", "Instituciones", htmlAttributes: new { @class = "linkagregar" })
