@model  InstitucionVista
@{
    ViewBag.Title = "SGC -- Gobierno de Córdoba -- Instituciones Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div id="contenido">
    <div id="nav">
        <ul id="menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Establecimiento Educativo</a></li>
        </ul>
    </div>
            <div id="usu">
                <div id="icono_usu" style="width: 30px; height: 25px; float: left;">
                    <img src=@Content.ImageSite("47_.png", Url)  width="25" height="25" alt=""/></div>
                <div id="nomusu" style="width: 200px; height: 25px; float: left; padding: 10px 5px 5px 5px;">
                    <strong>Usuario: ADNINISTRADOR</strong></div>
                <div id="iconoinicio" style="width: 30px; height: 25px; float: left;">
                    <img src=@Content.ImageSite("120_.png", Url)  width="25" height="25" alt=""/></div>
                <div id="iconoclose" style="width: 30px; height: 25px; float: left;">
                    <img src=@Content.ImageSite("49_.png", Url) width="25" height="25" alt=""/></div>
            </div>
            <div id="submenu" style="float: left; position: absolute; left: 69px; top: 135px;">
                <ul>
                    <li>@Html.ActionLink("Instituciones", "Index", "Instituciones", htmlAttributes: new { @class = "activo" })</li>
                    <li>@Html.ActionLink("Establecimiento", "Index", "Establecimientos")</li>
                    <li>@Html.ActionLink("Gestion Cursos", "Index", "Cursos")</li>
                    <li>@Html.ActionLink("Gestion Docentes", "Index", "Docentes")</li>
                    <li>@Html.ActionLink("Gestion Alumnos", "Index", "Alumnos")</li>
                    <li>@Html.ActionLink("Gestion Grupos", "Index", "Grupos")</li>
                    @*<li>@Html.ActionLink("Account", "LogOn", "Account")</li>*@
                    <li>@Html.ActionLink("Facturas", "Index", "Factura")</li>
                </ul>
            </div>
            </div>
            <br /><br />  
@using (Html.BeginForm("Agregar_Institucion", "Instituciones", FormMethod.Post, new { Id = "FormularioInstituciones" }))
{ 
       
    <div id="titulo">
        <div id="ttxt">
            Instituciones -- Nuevo</div>
    </div>
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px; text-align:center;">
                <legend>Institucion</legend>
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
                Nombre
            </td>
            <td  align="left" valign="middle">
                @Html.TextBoxFor(c => c.N_INSTITUCION, new { style = "width:400px;", MaxLength = "50" })
                @Html.ValidationMessageFor(m => m.N_INSTITUCION)
            </td>
        </tr>
        <tr>
            <td>
                Propia
            </td>
            <td  align="left" valign="middle">
                @Html.CheckBoxFor(c => c.INS_PROPIA)
            </td>
        </tr>
    </table>
    </fieldset>
     </td>
        </tr>
    </table>
    
    @Html.Partial("_Domicilios", Model.ListaDomicilios)
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px; text-align:center;">
                <legend>Domicilio</legend>
    <table align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:750px;">
        <tr>
            <td>
                Provincia
            </td>
            <td align="left" valign="middle">
                <input id="Provincia" disabled="True" style="width: 200px;" />
                @Html.ValidationMessageFor(m => m.ID_DOMICILIO)
            </td>
        </tr>
        <tr>
            <td>
                Localidad
            </td>
            <td align="left" valign="middle">
                <input id="Localidad" disabled style="width: 350px;" />
            </td>
        </tr>
        <tr>
            <td>
                Barrio
            </td>
            <td align="left" valign="middle">
                <input id="Barrio" disabled style="width: 350px;" />
            </td>
        </tr>
        <tr>
            <td>
                Calle
            </td>
            <td align="left" valign="middle">
                <input id="Calle" disabled style="width: 350px;" />
            </td>
        </tr>
        <tr>
            <td>
                Nro
            </td>
            <td align="left" valign="middle">
                <input id="Nro" disabled style="width: 60px;" />
            </td>
        </tr>
    </table>
    </fieldset>
    </td>
        </tr>
    </table>
    
  
    
    @Html.HiddenFor(d => d.ID_DOMICILIO)
     <table id ="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input type="submit" value="Guargar" class="boton" />&nbsp;&nbsp;
        @Html.ActionLink("Cancelar", "Index", "Instituciones", null, new { Class = "btnIngresar" })
            </td>
            
        </tr>
    </table>
   
}
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
