@model  InstitucionVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Instituciones.js", Url)
}
<div class="box">
    <h2>
        Eliminar Institución</h2>
    <table align="center" style="width: 622px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                @using (Html.BeginForm("Eliminar_Institucion", "Instituciones", FormMethod.Post, new { Id = "FormularioInstituciones" }))
                { 
   
                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px; width: 700px;">
                        <tr>
                            <td>
                                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
                                    text-align: center;">
                                    <legend style="color: #FF9900"><b>Datos Institucion</b></legend>
                                    <table align="left" class="mybusqueda">
                                        <tr>
                                            <td align="left">
                                                <b>Nombre de la Institucion:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(Model => Model.Nombre_Institucion, new { disabled = "disabled", style = "width:125px;", MaxLength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Es Propia de la Institucion:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.CheckBoxFor(c => c.espropia, new { disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <b>Domicilio:</b>
                                            </td>
                                            <td align="left" valign="middle">
                                                @Html.TextBoxFor(Model => Model.DireccionCompleta, new { disabled = "disabled", style = "width:350px;", MaxLength = "20" })
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
    
                    @Html.HiddenFor(d => d.Id_Institucion)
    
                    <table id="myIntituciones" align="center" width="700px">
                        <tr>
                            <td align="right" valign="middle">
                                <input id="Eliminar" type="button" value="Eliminar" class="btnIngresar" />&nbsp;&nbsp;
                                @Html.ActionLink("Cancelar", "Index", "Instituciones", null, new { Class = "btnIngresar" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
