@model  InstitucionVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Instituciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Modificar_Institucion", "Instituciones", FormMethod.Post, new { Id = "FormularioInstituciones" }))
{ 
    
    <div id="titulo">
        <div id="ttxt">
            Modificar Institucion</div>
        <div id="iconobuscar">
            @Html.ActionLink("Cursos Asignados", "CursosAsignados", new { IdInstitucion = Model.ID_INSTITUCION }, new { @class = "btngral" })
        </div>
    </div>
    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; width: 750px;">
        <tr>
            <td>
                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 750px;
                    text-align: center;">
                    <legend>Institucion</legend>
                    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px; width: 750px;">
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.N_INSTITUCION, new { style = "width:400px;", MaxLength = "50" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Propia
                            </td>
                            <td align="left" valign="middle">
                                @Html.CheckBoxFor(c => c.INS_PROPIA)
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
    @Html.Partial("_Domicilios", Model.ListaDomicilios)

    <table align="center" id="mytable" style="font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; width: 750px;">
        <tr>
            <td>
                <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 750px;
                    text-align: center;">
                    <legend>Domicilio</legend>
                    <table align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                        width: 750px;">
                        <tr>
                            <td>
                                Provincia
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.domicilios.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Localidad
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.domicilios.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Barrio
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.domicilios.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Calle
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.domicilios.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nro
                            </td>
                            <td align="left" valign="middle">
                                @Html.TextBoxFor(c => c.domicilios.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
    @Html.HiddenFor(d => d.ID_DOMICILIO)
    @Html.HiddenFor(d => d.ID_INSTITUCION)
 
    <table id="myIntituciones" align="center" width="800px">
        <tr>
            <td align="right" valign="middle">
                <input type="submit" value="Guargar" class="boton" />&nbsp;&nbsp;
                @Html.ActionLink("Cancelar", "Index", "Instituciones", null, new { Class = "btnIngresar" })
            </td>
        </tr>
    </table>
}
<br /><br /><br /><br /><br />