@model SupervicionVista
@if (Model.Grupos.ListaGrupos != null && Model.Grupos.ListaGrupos.Count > 0)
{ 
    <div id="tab" style="text-align: center;">
        <table class="TablaPersonal" align="center" id="mytable" width="690px" cellpadding="0"
            cellspacing="0">
            <thead>
                <tr>
                    <th height="30">
                        <div align="left">
                            Nombre del Módulo</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Establecimiento</div>
                    </th>
                    <th height="30">
                        <div align="center">
                            Fecha Alta</div>
                    </th>
                    <th height="30" colspan="4">
                        <div align="right" style="margin-right: 2px;" colspan="7">
                            Acción</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Grupos.ListaGrupos)
                {
                    <tr>
                        <td align="left">
                            @if (item.NombreGrupo.Length < 30)
                            {
                                @item.NombreGrupo
                            }
                            else
                            {
                                @(item.NombreGrupo.ToString().Substring(1, 29) + " ...")
                            }
                        </td>
                        <td>
                            @if (item.NombreEstablecimiento.Length < 30)
                            {
                                @item.NombreEstablecimiento
                            }
                            else
                            {
                                @(item.NombreEstablecimiento.ToString().Substring(1, 29) + " ...")
                            }
                        </td>
                        <td>
                            @item.FechaAlta.ToShortDateString()
                        </td>
                        <td height="30" align="right" style="margin-right: 2px;">
                            @Html.ActionLink("Realizar Supervicion al Módulo", "RealizarSupervicionGrupo", "Superviciones", new { id_grupo = item.Id_Grupo }, new { @class = "btnIngresar" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    @Html.Partial("_SinDatos", "Seleccione un Curso")
  
}
