@model  EstablecimientoVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Establecimientos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Establecimientos.js",Url)
}
<div class="box">
  <h2>Modificar Establecimientos</h2>
    <table align="center" style="width: 622px;">
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                    
                </div>  

@using (Html.BeginForm("Modificar_Establecimiento", "Establecimientos", FormMethod.Post, new { Id = "FormularioEstablecimiento" }))
{ 
   
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:700px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:700px; text-align:center;">
                <legend>Agregar Instutuciones</legend>
    <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:700px;">
        <tr>
            <td>
                Nombre
            </td>
            <td>
                @Html.TextBoxFor(c => c.N_Establecimiento, new { style = "width:200px;", MaxLength = "50" })
            </td>
        </tr>
    </table>
    </fieldset>
     </td>
        </tr>
    </table>
    
    @Html.Partial("_Domicilios", Model.ListaDomicilio)
   <table align="center" id="mytable" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:700px;">
        <tr>
            <td>
  <fieldset style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:700px; text-align:center;">
                <legend>Domicilio</legend>
    <table id="mybusqueda" align="center" width="630px">
        <tr>
            <td>
                Provincia
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Provincia, new { disabled = "disabled", style = "width:200px;", MaxLength = "64", Class = "asd", Id = "Provincia" })
            </td>
        </tr>
        <tr>
            <td>
                Localidad
            </td>
           <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Localidad, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Localidad" })
            </td>
        </tr>
        <tr>
            <td>
                Barrio
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Barrio, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Barrio" })
            </td>
        </tr>
        <tr>
            <td>
                Calle
            </td>
           <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Calle, new { disabled = "disabled", style = "width:350px;", MaxLength = "64", Class = "asd", Id = "Calle" })
            </td>
        </tr>
        <tr>
            <td>
                Nro
            </td>
            <td align="left" valign="middle">
                @Html.TextBoxFor(c => c.Nro, new { disabled = "disabled", style = "width:60px;", MaxLength = "64", Class = "asd", Id = "Nro" })
            </td>
        </tr>
    </table>
    </fieldset>
     </td>
        </tr>
    </table>
    
  
    @Html.HiddenFor(d => d.Id_Establecimiento)
    @Html.HiddenFor(d => d.Id_Domicilio)
    <table id="myIntituciones" align="center" width="700px">
        <tr>
            <td align="right" vlign="middle">
                <input type="submit" value="Guargar" Class = "btnIngresar" />&nbsp;&nbsp;
                @Html.ActionLink("Cancelar", "Index", "Establecimientos", null, new { Class = "btnIngresar" })
            </td>
        </tr>
    </table>
   
}   </td>
        </tr>
    </table>
</div>


